@model herman_v2.Models.tmdbTVDetails

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Actors in @Model.name</h3>
<table class="table">
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Character
        </th>
        <th>
            TMDB ID
        </th>
    </tr>

    @foreach (var item in Model.credits.cast)
    {
        if (item.profile_path != null)
        {
            <tr>
                <td>
                    <img src="https://image.tmdb.org/t/p/w90_and_h90_face/@item.profile_path" />
                </td>
                <td>
                    @Html.ActionLink(item.name, "AddActorToVideo", new { @video_id = Model.video_id, @actor_name = item.name, @actor_photo = item.profile_path, @tmdb_id = item.id, @char_name = item.character })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.character)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
            </tr>
        }
    }

</table>
